PORT=3000

MONGODB_USER=your_user
MONGODB_PASSWORD=your_password
MONGODB_URL=cluster0.mongodb.net
MONGODB_DB=contacts

ACCESS_TOKEN_SECRET=your_access_secret 
REFRESH_TOKEN_SECRET=your_refresh_secret
JWT_SECRET=your_jwt_secret

SMTP_HOST=your_smtp_host
SMTP_PORT=587
SMTP_USER=your_smtp_user
SMTP_PASSWORD=your_smtp_password
SMTP_FROM=your_email@example.com

APP_DOMAIN=http://localhost:3000/auth

CLOUDINARY_NAME=your_cloudinary_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
